:root{
    --bg_Dark : hsl(0, 0%, 36%);
    --bg : hsl(0, 0%, 41%);
    --bg_Light : hsl(0, 0%, 46%);

    --Text:hsl(0, 0%, 80%);
    --Text_Light: hsl(0,0%,100%);

    --inventoryWidth:20vw;
    --contentWrapperWidth:60vw;
    --emptyWidth:20vw;
}

/* --------------------- body ---------------------*/

body{
    margin:0px;
    background-color: var(--bg_Dark);
}

/* --------------------- header ---------------------*/

header{
    position: fixed;
    top: 0px;
    z-index: 1;
    width:100%;
    backdrop-filter:blur(10px);
    border-bottom: 1px solid var(--bg);
}

nav{
    --navigation_height:120px;

    width:100%;
    height:var(--navigation_height);

    display:flex;
    align-items: center;
    justify-content:space-between;
}

.logo_size{
    height:100%;
    width:auto;
    display:flex;
    align-items: center;
}

.contents{
    width: 50%;
    height:100%;
    margin:0;

    display: flex;
    justify-content:space-evenly;
    align-items:center;
}

.content{
    height:calc(var(--navigation_height) * 0.9);
    width:auto;
    padding-bottom:calc(var(--navigation_height) * 0.1);
    padding-left: 6px;
    padding-right: 6px;

    display:flex;
    align-items: center;
}

.content:hover{
    cursor:pointer;
    background: linear-gradient(0deg,hsla(0, 0%, 100%,0.7) 0%, hsla(0, 0%, 100%,0.5) 7%,hsla(0, 0%, 100%,0) 12%);
}
/* Code 로고 */
.logo{
    height:100%;
    width:auto;
    display:flex;
    justify-content:center;
    align-items:center;
}
/*페이지 로고*/
.article{
    height:90%;
}
/* --------------------- main ---------------------*/

main{
    display:flex;
    padding-top:150px;
    padding-bottom:20px;
    width:100%;
}

/* --------------------- inventory ---------------------*/
#inventory_area{
    --inventoryContentWidth: 10vw;
    width:var(--inventoryWidth);
    top:0;
    padding:0 auto;
}

#inventory{
    width:var(--inventoryContentWidth);
    height:40vh;

    position:fixed;
    left:calc(var(--inventoryWidth)/2);
    transform: translateX(-50%);
    background-color: var(--bg_Light);

    border-radius:10px;
    margin:0 auto;
}

/* --------------------- contents_wrapper ---------------------*/

#contents_wrapper{
    max-width: var(--contentWrapperWidth);
    width:100%;

    padding:50px;
    border: 3px solid var(--bg);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    background-color: var(--bg_Light);
}

ul{
    padding:0;
    margin-bottom: 80px;

    color:var(--Text_Light);

    list-style-position:20px;
}

.box{
    margin-bottom:40px;
}

.sub_theme{
    margin-left:40px;
}

.sub_theme:hover{
    cursor: pointer;
    text-shadow: 2px 2px 5px black;
}

hr{
    border:none;
    background-color:var(--bg);
    height:1px;
}

.toggle_window{
    display:none

}

.descriptions{
    line-height:30px;
    color:var(--Text)
}

.paragraph{
    padding-left:26px;
}

/* --------------------- empty ---------------------*/

#empty{
    width:var(--emptyWidth)
}