:root{
    --bg_Dark : hsl(0%,0%, 0%);
    --bg : hsl(0, 0%, 5%);
    --bg_Light : hsl(0, 0%, 10%);

    --inventoryWidth:20vw;
    --contentWrapperWidth:60vw;
    --emptyWidth:20vw;
}

body{
    margin:0px;
}

/* --------------------- header ---------------------*/

header{
    position: sticky;
    top: 0px;
    z-index: 1;
}

nav{
    --right_margin:0px;
    --navigation_width:calc(100% - var(--right_margin));
    --navigation_height:120px;

    width:var(--navigation_width);
    height:var(--navigation_height);
    background-color: #BCBCBC;

    display:flex;
    align-items: center;
    justify-content:space-between;
}

.content_size{
    height:100%;
    width:auto;
    display:flex;
    align-items: center;
}

.content_size:hover{
    cursor:pointer;
}

.contents{
    margin:0;
    width: 50%;
    height:100%;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}

.article{
    height:90%;
}

.logo{
    height:100%;
    width:auto;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* --------------------- main ---------------------*/

main{
    background-color: var(--bg_Dark);
    display:flex;
    margin-top:20px;
}

/* --------------------- inventory ---------------------*/
#inventory_area{
    --inventoryContentWidth:10vw;
    width:var(--inventoryWidth);
    top:0;
    padding:0 auto;
}

#inventory{
    width:var(--inventoryContentWidth);
    height:40vh;

    position:fixed;
    left:calc(var(--inventoryWidth)/2);
    transform: translateX(-50%);
    background-color: aquamarine;

    border-radius:10px;
    margin:0 auto;
}

/* --------------------- contents_wrapper ---------------------*/

#contents_wrapper{
    max-width: var(--contentWrapperWidth);
    width:100%;

    padding:50px;
    border: 5px solid var(--bg_Light);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    background-color: var(--bg);
}

.box{
    margin-bottom:40px;
    color:gray;
}

.sub_theme:hover{
    cursor: pointer;
}

hr{
    border:none;
    background-color:gray;
    height:1px;
}

.toggle_window{
    display:none
}

.descriptions{
    line-height:30px;
}

.paragraph{
    padding-left:26px;
}

/* --------------------- empty ---------------------*/

#empty{
    width:var(--emptyWidth)
}