body{
    margin:0px;
    background-color: #2c3e50;
}

nav{
    display:flex;
    align-items: center;
    justify-content:space-between;
    width:100%;
    height:120px;
    background-color: #f5f5f5;
}

.content_size{
    height:100%;
    width:auto;
    display:flex;
    align-items: center;
}

.content_size:hover{
    cursor:pointer;
}

.contents{
    margin:0;
    width: 50%;
    height:100%;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}

.article{
    height:90%;
}

.logo{
    height:100%;
    width:auto;
    display:flex;
    justify-content:center;
    align-items:center;
}

main{
    padding:10px;
}

.box{
    margin-bottom:90px;
}

hr{
    border:none;
    background-color:white;
    height:1px;
}

.descriptions{
    line-height:30px;
}

.paragraph{
    padding-left:26px;
}