:root{
    --color0:hsl(0,0%,0%);
    --color10:hsl(0,0%,10%);
    --color20:hsl(0,0%,20%);
    --color30:hsl(0,0%,30%);
    --color40:hsl(0,0%,40%);
    --color50:hsl(0,0%,50%);
    --color60:hsl(0,0%,60%);
    --color70:hsl(0,0%,70%);
    --color80:hsl(0,0%,80%);
    --color90:hsl(0,0%,90%);
}

.pallet{
    width:70%;
    height:100px;
    background-color: aqua;
    display:flex;
    margin:20px 0px;
}



.color{width:calc(100%/10);height:100%;}

.first0{background-color: var(--color0);}
.first1{background-color: var(--color10);}
.first2{background-color: var(--color20);}
.first3{background-color: var(--color30);}
.first4{background-color: var(--color40);}
.first5{background-color: var(--color50);}
.first6{background-color: var(--color60);}
.first7{background-color: var(--color70);}
.first8{background-color: var(--color80);}
.first9{background-color: var(--color90);}