body{
    margin:0px;
}
/* header */

header{
    position: sticky;
    top: 0px;
}

nav{
    --right_margin : 0px;
    --navigation_width : calc(100% - var(--right_margin));
    width:var(--navigation_width);
    height:120px;
    background-color: #BCBCBC;

    display:flex;
    align-items: center;
    justify-content:space-between;
}

.content_size{
    height:100%;
    width:auto;
    display:flex;
    align-items: center;
}

.content_size:hover{
    cursor:pointer;
}

.contents{
    margin:0;
    width: 50%;
    height:100%;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}

.article{
    height:90%;
}

.logo{
    height:100%;
    width:auto;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* main */

main{
    padding:10px;
    background-color: #BCBCBC;
}

.contents_wrapper{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2c3e50;
    padding:50px;
    border: 5px solid black;
    border-radius: 10px;
}

.box{
    margin-bottom:40px;
    color:gray;
}

.sub_theme:hover{
    cursor: pointer;
}

hr{
    border:none;
    background-color:gray;
    height:1px;
}

.toggle_window{
    display:none
}

.descriptions{
    line-height:30px;
}

.paragraph{
    padding-left:26px;
}