body{
    margin:0px;
    background-color: white;
}

header{
    position: sticky;
    top: 0px;
}

nav{
    --right_margin : 0px;
    --navigation_width : calc(100% - var(--right_margin));
    width:var(--navigation_width);
    height:120px;

    display:flex;
    align-items: center;
    justify-content:space-between;

    background-color: #BCBCBC;
}

.content_size{
    height:100%;
    width:auto;
    display:flex;
    align-items: center;
}

.content_size:hover{
    cursor:pointer;
}

.contents{
    margin:0;
    width: 50%;
    height:100%;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}

.logo{
    height:100%;
    width:auto;
    display:flex;
    justify-content:center;
    align-items:center;
}

.article{
    height:90%;
}

/* pop up ì°½ */
.pop_up{
    --pop_up_width:380px;
    width:var(--pop_up_width);
    height:350px;
    background-color: white;
    border:2px solid gray;
    box-shadow: 2px 2px 0px black;
}

.pop_up_head{
    width:100%;
    height:5%;
    background:linear-gradient(90deg,#1B154C,#097BC3);
    color:white;
    position:relative;
}

.X_button{
    width: 13px;
    height:13px;
    background-color: #B8BABE;
    position:absolute;
    top:0px;
    left:var(--pop_up_width);
    transform:translateX(-100%)
}